apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-aegis
spec:
  replicas: 3 # Menjalankan 3 aplikasi sekaligus
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
